/* HTML 초기화 */
@font-face{
    font-family: 'notosansb';
    src:url(fonts/NotoSansKR-Bold.otf);
}
@font-face{
    font-family: 'notosansre';
    src:url(fonts/NotoSansKR-Regular.otf);
}
@font-face{
    font-family: 'notosanslight';
    src:url(fonts/NanumBarunGothicLight.ttf);
}
@font-face{
    font-family: 'notosansbk';
    src:url(fonts/NotoSansKR-Black.otf);
}



@font-face{
    font-family: 'notosansre';
    src:url(fonts/NotoSansKR-Regular.otf);
}
@font-face{
    font-family: 'nanumbarun-bold';
    src:url(fonts/NanumBarunGothicBold.ttf);
}
@font-face {
    font-family: 'nanumbarun';
    src: url(fonts/NanumBarunGothic.ttf);
}

*{
    /* -webkit-font-smoothing: antialiased; */
    margin:0;
    padding:0;
    letter-spacing:0.08rem ;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'notosansre';

    
}



ul,li,ol{
    margin:0;
    padding:0;
    list-style: none;
    
}
a{
    text-decoration: none;
    color:black;
    font-size: 1.1rem;
    font-weight: bold;
  
}

span{
    font-size: 1.2rem;
}




#Container{
    width:100%;
    margin:0 auto;
    position: relative;
   
}
#Container a:hover{
    color:#9e9e9e;
    transition: ease-out 0.3s;
}

#Container> nav{

width: 100%;
position: fixed;
top:0;
left:0;
z-index:2;
display: flex;
justify-content: space-between;
align-items: baseline;
flex:1 auto;
padding:1.2rem 2rem;



}

#Container>nav>.nav_menus{
    display: flex;
    align-items: baseline;
    
   
}

#Container>nav>.nav_menus>li{
    position: relative;
   margin:0.8rem 1.2rem;
   
}


#Container>nav>.nav_menus .dropmenu .submenu1{
    display: none;
    position: absolute;
    top:1.5rem;
    left:-0.1rem;
    line-height:1.8;
    
    }
    
    
    
    #Container>nav>.nav_menus .dropmenu .submenu2{
        display: none;
        position: absolute;
        left:-0.3rem;
        width:9rem;
        line-height:1.5;
        
        }
    #Container>nav>.nav_menus .dropmenu .submenu2:hover li{
        display: block;
    
    }
    
    #Container>nav>.nav_menus .dropmenu .submenu1 li{
        width:8rem;
        line-height: 1.5;
       
    }

#Container>nav>.nav_menus li .main_logo>img{
    filter: invert(0%) sepia(3%) saturate(0%) hue-rotate(257deg) brightness(104%) contrast(104%);
    transition: ease-in-out 0.3s;
}
#Container>nav>.nav_menus li .main_logo>img.active{

filter: invert(0%) sepia(3%) saturate(0%) hue-rotate(257deg) brightness(104%) contrast(104%);
transition: ease-in-out 0.3s;
}

#Container>nav>.nav_menus li a{
    font-family: 'notosansbold';
    font-weight: bold;

   color:black;
   font-size:1.2rem;
}



#Container>nav>.nav_icons{

   display: flex;

}
#Container>nav>.nav_icons li{
margin:0.8rem 0.8rem;

}
#Container>nav>.nav_icons li a{ 
   color:black;


}
#Container>nav>.nav_icons>li>a>i{
   font-size: 2.0rem;
}

.Contents{
    
    margin-top:7.0rem;
    padding:5.0rem;
  
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Contents .imgCon,.gifCon,.iframeCon{
    
    width:65%;
}
.Contents .iframeCon{
    position:relative;

    width:65%;
    height:0px;
    overflow: hidden;
    padding-top:8%;
    padding-bottom: 56.25%;


}
.Contents>.imgCon>img{
    display: block;
    width:100%;
    height: 100%;
    
}

.Contents>.gifCon>img{
    display: block;
    width:100%;
    height: 100%;
}
 
.Contents>.iframeCon>iframe{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit:contain;
}






#Container> footer {
    display: flex;
 flex:1 auto;
 justify-content: center;
 align-items: center;
 text-align: center;
 border-top:0.1rem solid black;
 padding:2rem;
}

#Container> footer .footerinner .top{
    display: flex;
    justify-content: center;
}
#Container>footer .footerinner .top li{
    margin:1.0rem 0.5rem;
    font-size: 1.1rem;
    font-family: 'notosansre';
}
#Container>footer .footerinner .bottom li{
    margin: 2rem 0.5rem;
    font-size: 1.1rem;
    font-family: 'notosansre';
}

#Container .topbtn{
    opacity: 0;
    position:fixed;
    right:0.2rem;
    bottom:0.2rem;
    transition:opacity ease-in-out 1s ;
    
}
#Container .topbtn.on{
    opacity: 1;
    transition:opacity ease-in-out 1s;
}
#Container .topbtn>i{
    font-size: 2.5rem;
}


